* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(245, 222, 179, 0.651);
}

.container {
    display: flex; 
    margin: 1%;
}

.item {
    display: flex;
    flex-grow: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 206, 138);
    font-size: 18px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solids black;
}   

.item :hover {
    color: whitesmoke; 
}

a:link {
  text-decoration: none;  
} 